In [1]:
import pandas as pd

## Données prix vente imobilier

In [2]:
data=pd.read_csv("./train_imo.csv")

In [3]:
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

Les données contiennent des informations sur des pappartement vendu. L'objectif est de mettre en place un réseau de neuronnes capable de prédire le prix de ventes d'un appartement à partir de ces variables. La quantifiaction de l'erreur de prédiction devra se faire à l'aide de l'erreur quadratique moyenne mais sur le logarithme du prix.

In [4]:
N=data.shape[0]
data.shape

(1460, 81)

La base de données est constitué de 1460 biens immobiliers décrit par 81 varibales. L'une de ces variable SalePrice est la variable cible à prédire à partir des autres.

In [5]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

Parmis les 80 descripeturs utilisables 37 correspondent à des variables continues. Les autres variables peuvent être considérées comme des variables catégorielle est encoder sous forme de vecteur binaire (onehot encoding). Le code suivant permet de construire une matrice de données mise en forme pour l'apprentissage'

In [6]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,scale
oh = []
ohencoders = []
labencoders= []
Xnum = []
for v in range(1,80):
    if data.dtypes[v]=="object" :
        labenc = LabelEncoder()
        data.iloc[:,v].fillna("unknown",inplace=True)
        labenc.fit(data.iloc[:,v])
        Xl = labenc.transform(data.iloc[:,v]).reshape(-1, 1)
        ohenc = OneHotEncoder(sparse=False)
        ohenc.fit(Xl)
        Xt=ohenc.transform(Xl)
        labencoders.append(labenc)
        ohencoders.append(ohenc)
        oh.append(Xt)
    else:
        Xnum.append(scale(data.iloc[:,v].fillna(0).apply(float).values).reshape(N,1))

In [7]:
import numpy as np
Xnum = np.concatenate(Xnum,axis=1)
Xoh  = np.concatenate(oh,axis=1)

In [8]:
X = np.concatenate([Xnum,Xoh],axis=1)

In [10]:
y = data.iloc[:,80].values

## Questions
### 1) Préparez un jeude données d'apprentssage (80%) et de test (20%)
### 2) Construiser un réseau de type PMC a une couche cachée à l'aide de Keras
### 3) Effectuez l'apprentissage des poids de ce réseau
### 4) Estimer l'erreur de test de votre réseau
### 5) Essayé d'améliorer vos performance en variant la fonction d'activation, la largeur de la couche caché et en introduisant éventuellement une régularisation