# charger un fichier csv
! aux options skiprow pour sauter les premières lignes et decimal pour que les chiffres a virgules soient correctement lus

In [1]:
import pandas as pd

In [2]:
exo1df = pd.read_csv("./exo1.csv",skiprows=5,decimal=",")

In [3]:
exo1df.head()

,CODGEO,REG,DEP,ARR,CV,ZE2010,EPCI,LIBGEO,MENFIS10,PMENFIS10,...,DEC5UC10,DEC6UC10,DEC7UC10,DEC8UC10,DEC9UC10,RDUC10,PTSA10,PPEN10,PBEN10,PAUT10
0,13201,93,13,133,1399,9310,241300391,Marseille 1er Arrondissement,16760,35839.0,...,10330,14050,18539,24012,32708.0,2725.7,66.7,22.2,6.0,5.1
1,13202,93,13,133,1399,9310,241300391,Marseille 2e Arrondissement,10948,23615.0,...,9803,13055,16772,21388,29067.5,4844.6,64.8,25.4,4.3,5.5
2,13203,93,13,133,1399,9310,241300391,Marseille 3e Arrondissement,18834,46608.0,...,7365,9699,12590,16405,22373.0,NaN,66.8,28.4,2.0,2.8
3,13204,93,13,133,1399,9310,241300391,Marseille 4e Arrondissement,23528,46510.5,...,17400,20243,23327,27328,34288.0,8.4,62.1,28.7,4.5,4.7
4,13205,93,13,133,1399,9310,241300391,Marseille 5e Arrondissement,22013,40809.5,...,17568,20448,23607,27821,34666.0,9.8,65.1,25.8,4.6,4.5

# charger un fichier json et le remettre en forme 
utilisation de la méthode apply et de np.mean

In [4]:
exo2 = pd.read_json("./exo2.json")

In [5]:
exo2.head()

,available_bike_stands,available_bikes,download_date,id
0,"[21, 16, 17, 17, 17, 17, 19, 33, 33, 34, 33, 3...","[13, 18, 17, 17, 17, 17, 15, 1, 1, 0, 1, 1, 1,...","[1409727824, 1409724214, 1409720725, 140971702...",16104
1,"[15, 9, 1, 0, 4, 6, 6, 5, 7, 9, 14, 12, 5, 12,...","[4, 10, 18, 19, 15, 13, 13, 14, 12, 10, 5, 7, ...","[1409735028, 1409727824, 1409720725, 140971702...",15063
2,"[34, 35, 35, 35, 35, 23, 11, 11, 10, 0, 0, 10,...","[1, 0, 0, 0, 0, 12, 24, 24, 25, 35, 35, 25, 0,...","[1409738632, 1409749412, 1409745817, 140973502...",17010
3,"[17, 16, 17, 17, 20, 19, 18, 17, 18, 18, 12, 1...","[3, 4, 3, 3, 0, 1, 2, 3, 2, 2, 8, 7, 11, 5, 7,...","[1409742247, 1409738632, 1409735028, 140973142...",13045
4,"[15, 15, 1, 2, 3, 4, 6, 5, 5, 0, 1, 1, 15, 11,...","[0, 0, 14, 13, 12, 11, 9, 10, 10, 15, 14, 14, ...","[1409742247, 1409735028, 1409724214, 140972072...",10025

In [6]:
import numpy as np
np.mean(exo2.loc[0,'available_bikes'])

3.3314917127071824

In [7]:
exo2['mbikes']=exo2.apply(lambda x : np.mean(x['available_bikes']),axis=1)
exo2.head()

,available_bike_stands,available_bikes,download_date,id,mbikes
0,"[21, 16, 17, 17, 17, 17, 19, 33, 33, 34, 33, 3...","[13, 18, 17, 17, 17, 17, 15, 1, 1, 0, 1, 1, 1,...","[1409727824, 1409724214, 1409720725, 140971702...",16104,3.331492
1,"[15, 9, 1, 0, 4, 6, 6, 5, 7, 9, 14, 12, 5, 12,...","[4, 10, 18, 19, 15, 13, 13, 14, 12, 10, 5, 7, ...","[1409735028, 1409727824, 1409720725, 140971702...",15063,13.441989
2,"[34, 35, 35, 35, 35, 23, 11, 11, 10, 0, 0, 10,...","[1, 0, 0, 0, 0, 12, 24, 24, 25, 35, 35, 25, 0,...","[1409738632, 1409749412, 1409745817, 140973502...",17010,18.734807
3,"[17, 16, 17, 17, 20, 19, 18, 17, 18, 18, 12, 1...","[3, 4, 3, 3, 0, 1, 2, 3, 2, 2, 8, 7, 11, 5, 7,...","[1409742247, 1409738632, 1409735028, 140973142...",13045,11.497238
4,"[15, 15, 1, 2, 3, 4, 6, 5, 5, 0, 1, 1, 15, 11,...","[0, 0, 14, 13, 12, 11, 9, 10, 10, 15, 14, 14, ...","[1409742247, 1409735028, 1409724214, 140972072...",10025,5.651934

# charger un fichier xml et construire une dataframe

In [8]:
import xml.etree.ElementTree as et

Parsage du fichier et parcours des tag stations, construction d'un dict pour chaque station contenant les valeures des différentes variables et concaténation dans une liste

In [9]:
tree=et.parse("exo3.xml")
root = tree.getroot()
it = root.iter("station")
L = []
for l in it:
    try :
        L.append({'id' : int(l.find('id').text), 'lat' : float(l.find('lat').text), 'long' : float(l.find('long').text), 'nbBikes' : int(l.find('nbBikes').text), 'nbEmptyDocks': int(l.find('nbEmptyDocks').text)})
    except e:
        print e

Création de la dataframe a partir d'une liste de dictionnaire de même forme.

In [10]:
exo3df = pd.DataFrame(L)
exo3df.head()

   id        lat       long  nbBikes  nbEmptyDocks
0   2  45.539200 -73.541400       17             5
1   3  45.499941 -73.558969       12             3
2   4  45.512054 -73.553931       37             4
3   6  45.508750 -73.556130        0            15
4   7  45.511640 -73.562184        4            19